@import 'tailwindcss';

@custom-variant dark (@media (prefers-color-scheme: dark));

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;

  --color-dark: #000000;

  --color-light: #ffffff;

  --color-primary: #009cf8;

  --color-secondary: #f1f1e6;

  --grid-template-columns-w8: repeat(auto-fill, minmax(8rem, 1fr));
  --grid-template-columns-w12: repeat(auto-fill, minmax(12rem, 1fr));
  --grid-template-columns-w16: repeat(auto-fill, minmax(16rem, 1fr));
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/*
  Custom classes
*/
@layer components {
  .section-container {
    @apply w-full p-8 sm:p-16 lg:p-24 xl:px-40 text-dark relative;
  }

  .section-title {
    @apply text-4xl mb-4 md:mb-8 w-full tracking-widest;
  }

  .tag-static {
    @apply inline-block rounded-md py-1 px-2 border-2 border-dark bg-light text-dark select-none;
  }

  .btn-light {
    @apply inline-block rounded-md py-1 px-2 border-2 border-dark bg-light text-dark select-none focus:bg-dark focus:text-light hover:underline cursor-pointer;
  }

  .btn-dark {
    @apply inline-block rounded-md py-1 px-2 border-2 border-dark bg-dark text-light select-none focus:bg-light focus:text-dark hover:underline cursor-pointer;
  }

  .text-field {
    @apply block w-full rounded-md border-2 border-dark px-2 py-1 hover:underline shadow-inner focus:border-b-4;
  }

  .icons-group {
    @apply space-x-3 bg-light border-2 py-1 px-2 rounded-md text-sm;
  }

  .card {
    @apply bg-light p-4 shadow-md rounded-md border-2 border-dark text-dark;
  }

  .card-big {
    @apply bg-light p-8 shadow-md rounded-lg border-2 border-dark text-dark;
  }

  .card-small {
    @apply bg-light p-2 shadow-md rounded-md border-2 border-dark text-dark;
  }

  .card-dark {
    @apply bg-dark p-4 shadow-md rounded-md border-2 border-dark text-light;
  }

  .zoom-105 {
    @apply transition-all transform hover:scale-105;
  }

  .zoom-125 {
    @apply transition-all transform hover:scale-125;
  }
}
